<!DOCTYPE html>
<html>
  <head>
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body class="text-center">
    <form id="forgotPasswordForm" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        name="confirmPassword"
        id="inputConfirmPassword"
        class="form-control"
        placeholder="Confirm Password"
        required
      />
      <p id="errorMessage" style="color: red"><%= error %></p>
      <div class="checkbox mb-3"></div>
      <button
        id="submitButton"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
      >
        Submit
      </button>
    </form>

    <script>
        function getQueryString() {
          return window.location.search; // Returns query string (e.g., ?key1=value1&key2=value2)
        }

        document.addEventListener("DOMContentLoaded", function()
        {
         // Get the disable variable from the server
        const submitButton = document.getElementById("submitButton");
        submitButton.disabled = <%= typeof disable !== 'undefined' ? disable : false %>;

      const passwordInput = document.getElementById("inputPassword");
      const confirmPasswordInput = document.getElementById("inputConfirmPassword");
      const errorMessage = document.getElementById("errorMessage");

      function validatePasswords() {
        if (passwordInput.value != '' && confirmPasswordInput.value != '' && passwordInput.value !== confirmPasswordInput.value) {
          errorMessage.textContent = "Passwords do not match.";
          return false;
        }
        errorMessage.textContent = "";
        return true;
      }

      passwordInput.addEventListener("input", validatePasswords);
      confirmPasswordInput.addEventListener("input", validatePasswords);
      });

        document
          .getElementById("forgotPasswordForm")
          .addEventListener("submit", async (e) => {
            e.preventDefault(); // Prevent default form submission

            const password = document.getElementById("inputPassword").value;
            const confirmPasswordInput = document.getElementById("inputConfirmPassword").value;
            const errorMessage = document.getElementById("errorMessage");
            const params = new URLSearchParams(window.location.search);
            const token = params.get("token");

            if (password != '' && confirmPasswordInput != '' && password !== confirmPasswordInput) {
          errorMessage.textContent = "Passwords do not match.";
          return false;
              }

            try {
              const response = await fetch(
                `reset-password?token=${token}`,
                {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify({ password }),
                  redirect: "manual",
                }
              );
              const data = await response.json();
              if (response.ok) {
                alert(data.message);
              window.location.href = `login?appId=${data.appId}&redirectUrl=${encodeURIComponent(
                data.redirectUrl
              )}`;
              } else {
                document.getElementById("errorMessage").textContent =
                  data.error.message; // Show error
              }
            } catch (error) {
              document.getElementById("errorMessage").textContent =
                "Something went wrong.";
            }
          });
    </script>
  </body>
</html>
